[profile.default]
src = "src"
out = "out"
libs = ["node_modules", "lib"]
gas_limit = "18446744073709551615"
memory_limit = 2147483648
verbosity = 3

[fmt]
bracket_spacing = true
int_types = "long"
line_length = 100
multiline_func_header = "all"
number_underscore = "thousands"
quote_style = "double"
tab_width = 4
wrap_comments = true
